
/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    height:100vh;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}

.flex{
    display: flex;
}

ul{
    list-style-type: none;
}

.button-blu{
    background-color: hsl(217.88deg 100% 50%);
    color: white;
    border: solid transparent;
    padding: .5rem 1rem;
}

/*CUSTOM HEADER*/

/*Upper style*/


.upper{
    position: fixed;
    padding: 1.5rem 1rem;
    z-index: 1;
    background-color: white;
    border-bottom: solid hsl(207.06deg 51.52% 80.59%);
    width: 100%;
}

header nav{
    justify-content: space-between;
}

header nav ul li{
    margin-right: 1rem;
}

/*Jumbotron style*/

.jumbotron{
    background-color: hsl(207.06deg 51.52% 80.59%);
    padding: 7rem 18rem 0rem;
}

section.jumbotron h1{
    font-size: 4.5rem;
    padding-bottom: 4rem;
}

section.jumbotron p{
    padding-right: 1rem;
    text-align: start;
    padding-bottom: 1.5rem;
}

section.jumbotron .button-blu{
    margin-bottom: 1.5rem;
}

section.jumbotron>img{
    height: 530px;
    width: 610px;
    float: right;
}

section.jumbotron h2{
    font-size: 4rem;
    padding-top: 3rem; 
}

/*COSTUM MAIN*/

.container{
 width: 1000px;
 margin:0 auto;
 padding-top: 5rem;
 padding-bottom: 5rem;
}

div.container h1{
    font-size: 2.5rem;
    padding-bottom: 3rem;
}

div.container .fatturazione{
    margin: .4rem;
    margin-bottom: 4rem;
    background-color:hsl(217.88deg 100% 50%);
    border: solid hsl(240deg 4.55% 82.75%);
}

/*offers style*/

div.offers{
 justify-content: space-around;
}

div.container div.suboffers{
    padding: .5rem 5rem;
    border-bottom: solid hsl(240deg 4.55% 82.75%) ;
}

div.container div.offers i{
    vertical-align: middle;
    padding-left: .5rem;
    font-size: 1rem;  
}

div.container div.offers label{
    vertical-align: middle;
    font-size: 1rem;
    
}

div.container div.offers article{
    flex-direction: column;
    border: solid  hsl(240deg 4.55% 82.75%);
    width: calc((100% /3)-1rem);
    margin-left: 2rem;
    margin-bottom: 2rem;
    line-height: 2.5rem;
}

div.container div.offers article>div.professional{
     padding: 1rem 1.5rem 2rem; 
}

div.container div.offers article p{
    font-size: .9rem;
    padding-bottom: 3rem;
    color: hsl(20deg 1.82% 67.65%);
}

div.container div.offers article li{
    font-size: .9rem;
    line-height: 2rem;
    text-align:justify;
    padding-bottom: 1.5rem;
}

.button-offers{
    padding: .5rem 2.5rem;
    text-align: center;
    font-size: 1rem;
}

.check{
    color: hsl(217.88deg 100% 50%);
}

#p-offers{
    font-size: .9rem;
    padding-bottom: 2rem;
    border-bottom: solid hsl(20deg 1.82% 67.65%) .1rem ;
}

#button{
    border: transparent;
    border-bottom: solid blue .01rem;
    background-color: transparent;
    color: blue;
}

/*ufficio style*/

div.container div.ufficio{
    border: solid  hsl(240deg 4.55% 82.75%);
    margin: 0 0 0 2rem;
    padding-bottom: 4rem;
}

div.container div.ufficio section.conttata-ufficio{
    justify-content: center;
    flex-wrap: wrap;  
    padding: .5rem 5rem;
    font-size: 1rem;
    border-bottom: solid hsl(240deg 4.55% 82.75%);
}

div.container div.ufficio section.enterprice{
    flex-direction: row;
    padding: 1rem 1.5rem 2rem;
    line-height: 2.5rem;
    margin-right: 2rem;
}

div.ufficio section.enterprice div.testo{
    flex-direction: column;
}

div.ufficio section.enterprice div.testo h5{
    padding-bottom: 3rem;
}

div.ufficio section.enterprice p{
    font-size: .9rem;
    line-height: 1rem;
}

div.ufficio section.enterprice .button-enterprice{
    padding: .5rem 2.5rem;
    text-align: center;
    font-size: 1rem;
}

/*style immagine e testo div.partner*/

div.container section.flex{
    justify-content: space-between;
    padding: 4rem 2rem 5rem;
}

div.container section>img{
    height: 500px;
    width:  1990px;
}

div.container section div.partner{
    padding: 0rem 2rem;
}

div.container section div.partner>h3{
    padding-bottom: 2rem;
}

div.container section div.partner>p{
    padding-bottom: 2rem;
}

div.container section div.partner>input{
    background-color: white;
    color: grey;
    border: solid grey;
    font-size: 1rem;
}

/*style article del div.business*/

div.business{
    justify-content: space-around;
}

div.container div.business article{
    width: calc((100% /3)-1rem);
    margin-left: 2rem;
    margin-bottom: 4rem;
}

div.container div.business article>img{
    width: 280px;
    height: 250px;
    margin-bottom: 1rem;
}

div.business article div.spiegazioni{
    padding-right:2rem ;
}

div.business article div.spiegazioni h3{
    padding-bottom: 1.5rem;
}

div.business article div.spiegazioni p{
    font-size: .9rem;
}

#h1-business{
    padding: 3rem 19rem 5rem 0;
}

#button{
    font-size: 1rem;
}

/*CUSTOM MAIN FOOTER*/

/*style sponsor*/

.bg-green{
    background-color: hsl(112.5deg 38.89% 71.76%);
    border: solid .9rem hsl(111.43deg 38.89% 85.88%);
}

.bg-bourdeax{
    background-color: hsl(336.4deg 84.76% 20.59%);
}

.bg-bluelight{
    background-color: hsl(197.18deg 100% 40.39%);
}

.bg-red{
    background-color:hsl(0deg 100% 55.49%);
}

.bg-darkred{
    background-color: hsl(351.27deg 100% 41.76%);
}

.bg-bluewhite{
    background-color: hsl(207.06deg 51.52% 80.59%);
}

.bg-blue{
    background-color: hsl(228.1deg 81.69% 27.84%);
}

.bg-yellow{
    background-color: hsl(48.7deg 100% 59.41%);
}

.bg-grey{
    background-color: hsl(0deg 0% 96.08%);
}

div.main-footer section.sponsor{
    flex-direction: row;
    justify-content: space-between;
}

section.sponsor div.university , div.companies{
    flex-direction: column;
    width: 30%;
}

section.sponsor div.article-up , div.article-sub{
    flex-direction: row;
}

section.sponsor article{
    justify-content: center;
    align-items: center;
    color: white;
    width: 200px;
    height: 200px;
}

section.sponsor article>img{ 
    width: 100px;
    height: 100px;
}

section.sponsor div.designit{
    width: 50%;
    height: 400px;
}

section.sponsor div.designit>img{
    padding: 2rem 0;
    margin-left: 1rem;
    border-bottom: solid hsl(240deg 4.55% 82.75%);
    width: 300px;
    height: 150px;
}

section.sponsor div.designit>p{
    padding: 2rem 6rem;
    font-size: .9rem;
}

/*style section prova*/

div.main-footer section.prova{
    background-color: hsl(207.06deg 51.52% 80.59%);
    justify-content: space-around;
    padding: 5rem 11rem;
}

div.main-footer section.prova>h1{
    font-size: 2.5rem;
    color: hsl(336.4deg 84.76% 20.59%);
    padding-right: 10rem;
}

div.main-footer section.prova>input{
    font-size: 1.2rem;
    padding: 0rem 6rem;
    background-color: white;
    color: black;
}

/*style final main*/

section.container{
    padding: 5rem 0;
}

section.container>h1{
    font-size: 2.5rem;
    border-bottom: solid hsl(20deg 1.82% 67.65%);
    padding-bottom: 2rem;
}

section.container>h4{
    border-bottom: solid hsl(20deg 1.82% 67.65%);
    padding: 2rem 0;
}

section.container h4>i{
    display: inline-block;
    color: black;
    padding-left: 10rem;
}

/*COSTUM FOOTER*/

footer{
    background-color: black;
}

footer div.footer-nav{
    flex-direction: row;
    justify-content: space-between;
    margin: 0 4rem;
    padding: 5rem;
    line-height: 3rem;
    color: white;
}

footer div.footer-nav>nav{
    flex-direction: column;
}

footer div.footer-nav li{
    font-size: 1rem;
}

footer div.footer-nav>nav.dropbox-nav{
    padding-bottom: 4rem;
    border-bottom: solid hsl(20deg 1.82% 67.65%) .1rem;
}

footer>p{
    color: hsl(20deg 1.82% 67.65%);
    padding:0rem 8rem 4rem;
    font-size: 1rem;
}