
/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:100vh;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}

.flex{
    display: flex;
}

ul{
    list-style-type: none;
}

.button-blu{
    background-color: hsl(217.88deg 100% 50%);
    color: white;
    border: solid transparent;
    padding: .5rem 1rem;
}

/*CUSTOM HEADER*/

/*Upper style*/

.upper{
   padding: 1.5rem 1rem;
}

header nav{
    justify-content: space-between;
}

header nav ul li{
    margin-right: 1rem;
}

/*Jumbotron style*/

.jumbotron{
    background-color: hsl(207.06deg 51.52% 80.59%);
    padding: 3rem 18rem 1rem;
}

section.jumbotron h1{
    font-size: 4.5rem;
    padding-bottom: 3rem;
}

section.jumbotron p{
    padding-right: 1rem;
    text-align: start;
    padding-bottom: 1.5rem;
}

section.jumbotron .button-blu{
    margin-bottom: 1.5rem;
}

div.img{
    height: 430px;
    width: 450px;
    background-color: red;
    float: right;
}

section.jumbotron h2{
    font-size: 4rem;
    padding-top: 3rem; 
}

/*COSTUM MAIN*/

.container{
 width: 1000px;
 margin:0 auto;
 padding-top: 5rem;
 padding-bottom: 5rem;
}

div.container h1{
    font-size: 2.5rem;
    padding-bottom: 3rem;
}

div.container .fatturazione{
    margin: .4rem;
    margin-bottom: 4rem;
    background-color:hsl(217.88deg 100% 50%);
    border: solid hsl(240deg 4.55% 82.75%);
}

/*offers style*/

div.offers{
 justify-content: space-around;
}

div.container div.suboffers{
    padding: .5rem 5rem;
    border-bottom: solid hsl(240deg 4.55% 82.75%) ;
}

div.container div.offers i{
    vertical-align: middle;
    padding-left: .5rem;
    font-size: 1rem;  
}

div.container div.offers label{
    vertical-align: middle;
    font-size: 1rem;
    
}

div.container div.offers article{
    flex-direction: column;
    border: solid  hsl(240deg 4.55% 82.75%);
    width: calc((100% /3)-1rem);
    margin-left: 2rem;
    margin-bottom: 2rem;
    line-height: 2.5rem;
}

div.container div.offers article>div.professional{
     padding: 1rem 1.5rem 2rem; 
}

div.container div.offers article p{
    font-size: .9rem;
    padding-bottom: 3rem;
    color: hsl(20deg 1.82% 67.65%);
}

div.container div.offers article li{
    font-size: .9rem;
    line-height: 2rem;
    text-align:justify;
    padding-bottom: 1.5rem;
}

.button-offers{
    padding: .5rem 2.5rem;
    text-align: center;
    font-size: 1rem;
}

#p-offers{
    font-size: .9rem;
    padding-bottom: 2rem;
    border-bottom: solid hsl(20deg 1.82% 67.65%) .1rem ;
}

#button{
    border: transparent;
    border-bottom: solid blue .01rem;
    background-color: transparent;
    color: blue;
}

/*ufficio style*/

div.container div.ufficio{
    border: solid  hsl(240deg 4.55% 82.75%);
    margin: 0 0 0 2rem;
    padding-bottom: 4rem;
}

div.container div.ufficio section.conttata-ufficio{
    justify-content: center;
    flex-wrap: wrap;  
    padding: .5rem 5rem;
    font-size: 1rem;
    border-bottom: solid hsl(240deg 4.55% 82.75%);
}

div.container div.ufficio section.enterprice{
    flex-direction: row;
    padding: 1rem 1.5rem 2rem;
    line-height: 2.5rem;
    margin-right: 2rem;
}

div.ufficio section.enterprice div.testo{
    flex-direction: column;
}

div.ufficio section.enterprice div.testo h5{
    padding-bottom: 3rem;
}

div.ufficio section.enterprice p{
    font-size: .9rem;
    line-height: 1rem;
}

div.ufficio section.enterprice .button-enterprice{
    padding: .5rem 2.5rem;
    text-align: center;
    font-size: 1rem;
}

/*style immagine e testo div.partner*/

div.container section.flex{
    justify-content: space-between;
    padding: 4rem 2rem 5rem;
}

div.container section div.img-1{
    height: 500px;px;
    width:  2060px;
    background-color: red;
}

div.container section div.partner{
    padding: 4rem 6rem;
}

div.container section div.partner>h3{
    padding-bottom: 2rem;
}

div.container section div.partner>p{
    padding-bottom: 2rem;
}

div.container section div.partner>input{
    background-color: white;
    color: grey;
    border: solid grey;
    font-size: 1rem;
}

/*style article del div.business*/

div.business{
    justify-content: space-around;
}

div.container div.business article{
    width: calc((100% /3)-1rem);
    margin-left: 2rem;
    margin-bottom: 4rem;
}

div.img-2{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

div.business article div.spiegazioni{
    padding-right:2rem ;
}

div.business article div.spiegazioni h3{
    padding-bottom: 1.5rem;
}

div.business article div.spiegazioni p{
    font-size: .9rem;
}

#h1-business{
    padding: 3rem 19rem 5rem 0;
}

#button{
    font-size: 1rem;
}

/*CUSTOM MAIN FOOTER*/

/*style sponsor*/

div.main-footer section.sponsor{
    flex-direction: row;
    justify-content: space-between;
}

section.sponsor div.university , div.companies{
    flex-direction: column;
    width: 30%;
    background-color: brown;
    border: solid black;
}

section.sponsor div.article-up , div.article-sub{
    border: solid green;
    flex-direction: row;
}

section.sponsor article{
    width: 200px;
    height: 200px;
    border: solid white;
}

section.sponsor div.designit{
    background-color: blue;
    width: 50%;
    height: 410px;
}

/**/

div.main-footer section.prova{
    background-color: hsl(207.06deg 51.52% 80.59%);
    justify-content: space-around;
    
    padding: 5rem 10rem;
}

div.main-footer section.prova>h1{
    font-size: 2.5rem;
    color: hsl(336.4deg 84.76% 20.59%);
    padding-right: 10rem;
}

div.main-footer section.prova>input{
    font-size: 1rem;
    padding: 0.2rem 4rem;
}

/**/

section.container{
    padding: 5rem 0;
}

section.container>h1{
    font-size: 2.5rem;
    border-bottom: solid hsl(20deg 1.82% 67.65%);
    padding-bottom: 2rem;
}

section.container>h4{
    border-bottom: solid hsl(20deg 1.82% 67.65%);
    padding: 2rem 0;
}

/*COSTUM FOOTER*/

footer{
    background-color: black;
}

footer div.footer-nav{
    flex-direction: row;
    justify-content: space-between;
    margin: 0 4rem;
    padding: 5rem;
    line-height: 3rem;
    color: white;
}

footer div.footer-nav>nav{
    flex-direction: column;
}

footer div.footer-nav li{
    font-size: 1rem;
}

footer div.footer-nav>nav.dropbox-nav{
    padding-bottom: 4rem;
    border-bottom: solid hsl(20deg 1.82% 67.65%) .1rem;
}

footer>p{
    color: hsl(20deg 1.82% 67.65%);
    padding:0rem 8rem 4rem;
    font-size: 1rem;
}